.feedback-tool.js-success-story-tool.card.js-draggable(role='dialog', aria-labelledby='success-story-modal', aria-modal='true', aria-label='Success stories tool')
  //- Form page
  .js-success-story-tool-card-form(role='document')
    .feedback-tool-card-header
      span#success-story-modal.d-block.h6
        | Tell us your story
      .feedback-tool-actions
        i.eos-icons.eos-24.js-draggable-trigger.js-tooltip(data-toggle='tooltip', title='Move')
          | move
        i.eos-icons.eos-24.js-success-story-tool-close.js-tooltip(data-toggle='tooltip', title='Close')
          | close
    .feedback-tool-card-content.js-success-story-tool-form
      p
        | Share your rebranded product to inspire other SUSE developers.
      p
        | Tell us your name and your products' so that we can get in touch with you:
      .form-group
        textarea.form-control.text-area.js-success-story-tool-message(name='success-story-tool-message', placeholder='We’d love to hear from you.')
        .form-messages
          span.maxlength.js-message-length
            |
      .feedback-tool-steps
        button.js-success-story-tool-send.btn.btn-primary.disabled(type='submit')
          | Send
    //-Success page
  .js-success-story-tool-card-success.feedback-tool-success
    .feedback-tool-card-header
      h6
        | Tell us your story
      .feedback-tool-actions
        i.eos-icons.eos-24.js-draggable-trigger
          | move
        i.eos-icons.eos-24.js-success-story-tool-close
          | close
    .card-content.feedback-tool-success
      p
        | Thank you for for sharing your product success story with us.
      img(src='/images/components/feedback-tool/bunny.svg', alt='EOS Bunny mascot image')
      button.js-success-story-tool-finish.btn.btn-primary
        | Finish
