extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Alerts in sign in page
          p.subheadline
            | Alerts are used to inform the user when the login is unavailable due to an issue in the entire system
            | or used as a feedback and confirmation mechanism after the user takes an action.
          p
            | To know more about alerts please visit the #[a(href='/alerts', data-event-category='Internal link', data-event-action='Alerts', data-event-label='Sign in/Alerts in sign in') alert page] of the EOS design system.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='signin-assets-dropdown')
              | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Sign in assets
            ul.dropdown-menu.dropdown-menu-right(aria-labelledby='signin-assets-dropdown')
              include ./shared/assets.pug
    hr
    article.margin-top-xxxl
      h2.anchor
        | Global alert
      ul
        li
          | Use a global alert when the login is unavailable due to an issue that affects the entire system.
          | Global alerts are displayed at the top of the login area.
    article.margin-top-xxxl
      h2.anchor
        | Example
      .figure-wrap
        figure.text-center
          img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/sign-in-global-alert.png', alt='Global alert in sign in')
    article.margin-top-xxxl
      h2.anchor
        | Section alert
      ul
        li
          | If a user tries to access a suspended account or authenticate using the wrong sign in credentials, it is recommended
          | to use a section alert to display the error message.
        li
          | Don’t use inline alerts in the sign in or sign up pages. Form elements have their own and unique error handler that replaces the purpose of inline alerts.
    article.margin-top-xxxl
      h2.anchor
        | Example
      .figure-wrap
        figure.text-center
          img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/sign-in-section-alert.png', alt='Section alert in sign in')
