extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Sign in
          p.subheadline
            | The sign in page is the central feature of a page of an application. It should provide a seamless user experience
            | and shouldn’t present an unnecessary obstacle to the user.
          p
            | Visit the #[a(href='/examples/demo-sign-in.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener') sign in demo] page.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='signin-assets-dropdown')
              | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Sign in assets
            ul.dropdown-menu.dropdown-menu-right(aria-labelledby='signin-assets-dropdown')
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h2.anchor
        | Basic structure
      p
        | The basic structure provides a sidebar, sign in and footer areas. The sign in area consists of a fixed width area on top of a background.
      ul
        li
          | The sidebar contains elements such as branding information and social media links.
        li
          | The main area shows the login form.
        li
          | The footer is an additional navigation element and can contain links, company or copyright information, etc.
      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid(src='/images/templates/sign-in/sign-in.png', alt='Basic layout structure')
    article.margin-top-xxl
      h2.anchor
        | Fluid page layout
      p
        | The fluid page layout is the default layout in SUSE. It provides the right screen real estate for content by allowing
        | it to stretch and contract relative to the screen size.
      h2.anchor.margin-top-xxl
        | Responsive breakpoints
      ul
        li
          |  bigger than 1120px
        li
          |  770px - 1119px
        li
          | less than 770px

    article.margin-top-xxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/desktop.png', alt='Sign in page image for desktop')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/tablet.png', alt='Sign in page image for tablet')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/mobile.png', alt='Sign in page image for mobile')
    article.margin-top-xxl
      h2.anchor
        | How to implement
      ul
        li
          |  The sign in box has a fixed width of #[code 1120px] on top of a background and stays positioned in the middle of the screen.
        li
          |  There are two sections inside the sign in box: A sidebar with a fixed width of #[code 445px] and a sign in area with faixed width of #[code 675px].
        li
          | As the screen gets smaller, and the background is no longer visible, the sidebar changes to a width of #[code 335px] and the sign in area becomes flexible.
        li
          | For screens smaller than #[code 770px], the sidebar is hidden and only the sign in area is visible with the logo.
    article.margin-top-xxxl
      h2.anchor
        | Background
      p
        | Click #[a(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/sign-in-bg/sign-in-bg.svg?inline=false', data-event-category='External link', data-event-action='Sign in page background', data-event-label='Templates/Sign in') here] to download the background image.
    article.margin-top-xxl
      h2.anchor
        | Third party sign in
      p
        | The regular sign in form can be sometimes replaced by a third party. In such cases, the username and password fields are replaced by relevant information and a button.
    article.margin-top-xxl
      h3.anchor
        a#sign-in-background(href='#example-1')
          i.eos-icons.eos-18
            | link
        | Example 1
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#third-party-1-a', aria-controls='third-party-1-a', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#third-party-2-a', aria-controls='third-party-2-a', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#third-party-3-a', aria-controls='third-party-3-a', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #third-party-1-a.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/third-party/ex-1-desktop.png', alt='Sign in page image for desktop')
        #third-party-2-a.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/third-party/ex-1-tablet.png', alt='Sign in page image for tablet')
        #third-party-3-a.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/third-party/ex-1-mobile.png', alt='Sign in page image for mobile')
    article.margin-top-xxl
      h3.anchor
        a#sign-in-background(href='#example-1')
          i.eos-icons.eos-18
            | link
        | Example 2
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#third-party-1-b', aria-controls='third-party-1-a', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#third-party-2-b', aria-controls='third-party-2-a', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#third-party-3-b', aria-controls='third-party-3-a', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #third-party-1-b.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/third-party/ex-2-desktop.png', alt='Sign in page image for desktop')
        #third-party-2-b.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/third-party/ex-2-tablet.png', alt='Sign in page image for tablet')
        #third-party-3-b.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/third-party/ex-2-mobile.png', alt='Sign in page image for mobile')
