extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Dark theme sign in
          p.subheadline
            | The basic structure of dark themed sign in page remains the same,
            | only the color of the main containers change as well as the color
            | of the text.
          p
            | Visit the #[a(href='/examples/demo-sign-in.html?dark-theme', data-event-category='External link', data-event-action='dark themed sign in demo', data-event-label='Sign in', target='_blank', rel='noreferrer nonopener') sign in dark theme demo] page.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='signin-assets-dropdown')
              | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Sign in assets
            ul.dropdown-menu.dropdown-menu-right(aria-labelledby='signin-assets-dropdown')
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h2.anchor
        | Colors
      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid(src='/images/templates/sign-in/sign-in-dark.png', alt='Dark theme layout structure')
    article.margin-top-xxl
      h2.anchor.margin-top-xxl
        | Sizes
    article.margin-top-xxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1120px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1119px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/desktop-dark.png', alt='Sign in page image for desktop')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/tablet-dark.png', alt='Sign in page image for tablet')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/mobile-dark.png', alt='Sign in page image for mobile')

    article.margin-top-xxxl
      h2.anchor
        | Background
      p
        | Click #[a(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/Assets/sign-in-bg/sign-in-bg.svg?inline=false', data-event-category='External link', data-event-action='Sign in page background', data-event-label='Templates/Sign in') here] to download the background image.
