extends ../../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Sign up
          p.subheadline
            | A sign up page should focus on making the registration process simple and easy for the user. It’s user experience
            | has to concentrate on eliminating distractions and reducing cognitive burden.
          p
            | Visit the #[a(href='/examples/demo-sign-up.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Sign in/Sign up', target='_blank', rel='noreferrer nonopener') sign in demo] page.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='signin-assets-dropdown')
              | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Sign in assets
            ul.dropdown-menu.dropdown-menu-right(aria-labelledby='signin-assets-dropdown')
              include ./shared/assets.pug
    hr
    article.margin-top-xxl
      h2.anchor
        | Fields
      p
        | The fields used in a sign up page may vary depending on the needs of each application. You can find a comprehensive
        | list in the #[a(href='/form-elements/input-fields', data-event-category='Internal link', data-event-action='input fields', data-event-label='Templates/Sign in') input fields] page.
        | The visual structure of the page remains the same as in the login page.
    article.margin-top-xxxl
      h2.anchor
        | Responsive breakpoints
      p
        | For responsive design refer to the #[a(href='/templates/sign-in#sign-in-responsive-breakpoints', data-event-category='Internal link', data-event-action='Sign in', data-event-label='Templates/Sign up') responsive breakpoints] section from the sign in page.
    article.margin-top-xxxl
      h2.anchor
        | Example
      .figure-wrap.margin-top-xxl
        figure.text-center
          img.img-fluid.img-fluid-v-centered(src='/images/templates/sign-in/sign-up.png', alt='Sign up page example')
