extends ../layouts/layout-main

block content
  article.container
    h1
      | What is a brand’s tone?
    p.subheadline
      | While our brand voice stays the same at all times, our brand tone changes
      | depending on the emotional state of the person we're addressing.
    hr
    h2.anchor
      |  #{config.brand} tone guidelines
    span.d-block.h5
      | Situational awareness
    ul
      li
        | In order to pick the right tone in a given situation, first think
        | about the outcome of the action in question and how that outcome
        | will affect users.
      li
        | Think about all of our users and how they might feel in a given
        | situation. An opinion from a single customer or shareholder might
        | not be valid when considering the needs and feelings of the
        | entire audience.
      li
        | There are 3 types of situations users may experience. Our tone
        | should be adapted for each context in order to inform the user
        | in a way which supports their needs without adding any emotional
        | baggage or extraneous details.
    span.h6
      | Positive situations
    .do-dont-container
      .do-column
        .do-dont-title
          span.h6
            i.eos-icons.eos-18
              | check_circle
            | Do
        .do-dont-content
          p
            | "All nodes successfully deployed! #[a Edit node details]."
      .dont-column
        .do-dont-title
          span.h6
            i.eos-icons.eos-18
              | cancel
            | Don't
        .do-dont-content
          p
            | "All nodes successfully deployed! You may now edit the node details
            | #[a here]."
      .text-center
        p
          strong
            | Users probably feel happy and relieved.
        p
          | Gain trust by being open and friendly - use casual language
          | which encourage those feelings.
    span.h6
      |  Neutral situations
    .do-dont-container
      .do-column
        .do-dont-title
          span.h6
            i.eos-icons.eos-18
              | check_circle
            | Do
        .do-dont-content
          p
            | "Recover password."
      .dont-column
        .do-dont-title
          span.h6
            i.eos-icons.eos-18
              | cancel
            | Don't
        .do-dont-content
          p
            | "Forgot your password?"
      .text-center
        p
          strong
            | Users feel pressure to complete sometimes complicated
            | tasks as quickly as possible.
        p
          | Show our expertise by being precise and polite but not personal
          | or overly friendly.
    span.h6
      | Negative situations
    .do-dont-container
      .do-column
        .do-dont-title
          span.h6
            i.eos-icons.eos-18
              | check_circle
            | Do
        .do-dont-content
          p
            | "The file system is in an inconsistent state. Rebooting now might lead to serious data loss."
      .dont-column
        .do-dont-title
          span.h6
            i.eos-icons.eos-18
              | cancel
            | Don't
        .do-dont-content
          p
            | "There seems to be a problem with the consistency of the file system. Check the manpage of btrfs for more information."
    .do-dont-container
      .do-column
        .do-dont-title
          span.h6
            i.eos-icons.eos-18
              | check_circle
            | Do
        .do-dont-content
          p
            | "There are no icons matching your search criteria. Try with a different combination."
      .dont-column
        .do-dont-title
          span.h6
            i.eos-icons.eos-18
              | cancel
            | Don't
        .do-dont-content
          p
            | "Oops, we couldn't find your icon!"
      .text-center
        p
          strong
            | Users probably feel stressed and are unhappy.
        p
          | People who are upset want to know what's going on right away.
          | Inform the user of necessary information and the direct
          | consequences of their actions.
        p
          | Don’t joke around with frustrated people. Do not add extra
          | details, or unrelated help, or try to explain general
          | concepts which do not directly relate to the situation.

    include ../includes/steps-progress-bar/eos-writing-guides.pug
