li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Layout')
    i.eos-icons.eos-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/view/a621aba8-d24d-413e-a6c6-7e27e200d0ff-f372/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/main-layout/layout.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='/examples/demo-layout.html', data-event-category='Dropdown link', data-event-action='Demo page link', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.md-18
      | open_in_new
    | Demo page
//- li
//-   .dropdown-item
//-     strong
//-       | Dark theme assets
//- li
//-   a.dropdown-item(href='https://xd.adobe.com/view/74ba5f9c-e9d9-490d-abab-2db590511b3b-21e9/', data-event-category='Dropdown link', data-event-action='Dark theme layout specs', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
//-     i.eos-icons.md-18
//-       | open_in_new
//-     | Design specifications
//- li
//-   a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/main-layout/layout-dark-theme.xd', data-event-category='Dropdown link', data-event-action='Dark theme layout XD file', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
//-     i.eos-icons.md-18
//-       | open_in_new
//-     | Adobe XD file
//- li
//-   a.dropdown-item(href='/examples/demo-layout.html?dark-theme', data-event-category='Dropdown link', data-event-action='Dark theme demo page', data-event-label='Layout', target='_blank', rel='noreferrer nonopener')
//-     i.eos-icons.md-18
//-       | open_in_new
//-     | Demo page
