.changelog-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: $eos-changelog-box-margin-top;

  &:hover {
    cursor: pointer;
  }

  &-left {
    img {
      margin-right: $eos-changelog-box-left-img-margin-right;
      width: $eos-changelog-box-left-img-width;
    }
  }

  &-right {
    border-left: $eos-changelog-box-border;
    padding: $eos-changelog-box-right-padding;

    p {
      color: $eos-changelog-box-right-p-color;
    }

    h5,
    p {
      margin: 0;
    }
  }

  &-inactive {
    img {
      opacity: $eos-changelog-box-inactive-img-opacity;
    }

    h5 {
      color: $eos-changelog-box-inactive-color;
    }

    p {
      color: $eos-changelog-box-inactive-color-link;
    }
  }
}

@media screen and (max-width: $eos-sd-max) {
  .changelog-box {
    border-bottom: $eos-changelog-box-border;
    border-top: $eos-changelog-box-border;
    justify-content: space-between;
    margin-bottom: $eos-changelog-mobile-box-margin-bottom;
    padding: $eos-changelog-mobile-box-padding;

    &-right {
      border: 0;
      flex-grow: 2;
    }

    .changelog-img {
      width: $eos-changelog-mobile-rocket;
    }

    h5,
    p {
      display: inline;
    }

    h5 {
      font-size: $eos-changelog-mobile-headline;
      font-weight: normal;
    }

    p {
      margin-left: $eos-changelog-mobile-p-margin;
    }
  }
}
