extends ../layouts/layout-main

block content
  article.container
    section
      .row
        .col-md-9
          h1
            | Dark theme
    hr
    section.margin-top-xl
      .row.states-row.margin-top-xxl
        .col-md-3.states-column
          strong.states-column-title
            | Table types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              .form-check
                input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='table-dark')
                label.form-check-label.js-element-label(for='default-state')
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code.language-markup
              code.language-html
