extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Tables
        p.subheadline
          | Tables are used to display large amounts of data in rows and columns.
          | They are useful to compare and manipulate data efficiently.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='tables-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Tables assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='tables-assets-dropdown')
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.anchor
        | Description
      ul.list-no-padding
        li
          | Wrap tables inside cards to provide the users with context by adding
          | card headers as well as filters and global actions.
        li
          | Rows always change the background color on hover. This improves readability.
        li
          | The main actions on a table such as filtering, sorting, deleting, etc. happen in the table's heading.
          | Use dropdowns in tables to provide more options on rows if the space is limited.
        li
          | In certain scenarios, you may require to provide quick and positive actions by adding actionable icons
          | inside each row. Make sure you never include disruptive actions in quick action like "delete" and never
          | exceed more than two quick actions to avoid overwhelming the user with too many options available.
    section.margin-top-xl.global-alerts-demo
      .row.states-row.margin-top-xxl
        .col-md-3.states-column
          strong.states-column-title
            | Table types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              .form-check
                input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='table')
                label.form-check-label.js-element-label(for='default-state')
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code.language-markup
              code.language-html
