extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Password
        p.subheadline
          | Input elements with type ‘password’ provide a way for the user to securely enter a
          | password. The text is hidden so that it cannot be read, usually by replacing each
          | character with a symbol such as the asterisk.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='forms-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Form element assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='forms-assets-dropdown')
            include ../../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.anchor
        a#description(href='#description')
          i.eos-icons.eos-18
            | link
        | Description
      ul.list-no-padding
        li
          | Always associate a label to every password field for good accessibility. Do not include a colon at the end of the label.
        li
          | The password input must have a valid value before the form can be submitted.
        li
          | The password input should include a show/hide option to show/hide password.
        li
          | The length of the input text provides a hint to users as to how much text to write.
        li
          | A password input text only allows for a single line of input.
        li
          | It should have a password strength indicator below.
        li
          | It should include a text with a hint describing the expected value in the password.
      .row.states-row.margin-top-xxl
        .col-md-3.states-column
          strong.states-column-title
            | Element states
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              .form-check
                input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='input-password')
                label.form-check-label.js-element-label(for='default-state')
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code
              code.language-html
