extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Footer
        p.subheadline
          | The footer is an additional navigation for the site and it can contain links, company, copyright and other complementary information.
        p
          | Visit the #[a(href='/examples/demo-layout.html', data-event-category='External link', data-event-action='Demo page link', data-event-label='Layout/Footer', target='_blank', rel='noreferrer nonopener') layout demo] page.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='layout-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Layout assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='layout-assets-dropdown')
            include ./shared/assets.pug
    hr
    section.margin-top-xxl
      h2.anchor
        | Description
      ul
        li
          | Depending on amount of information that the footer contain, it can be positioned
          | at the very bottom of the main menu (for small footer content) or at the bottom of
          | the content area (for larger footer content).
        li
          | If the footer is located within the main menu, when menu is collapsed, the footer changes position to the bottom of the content area.
        li
          | When placed under the content area, the footer should be aligned to the left.
        li
          | The background color, when it is located in the main menu is #[code $eos-bc-pine-700].

    section.margin-top-xxxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/footer-greater-1336.svg', alt='Footer image for screens greater than 1336px')
        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/footer-770-1335.svg', alt='Footer image for screens between 770px and 1335px')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/footer-360-769.svg', alt='Footer image for screens between 360px and 769px')
