extends ../../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Implementation
        p.subheadline
          | Apply consistent margins, padding, and sizes to deliver a coherent SUSE product layouts to our customers.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
            | #[i.eos-icons.eos-18 keyboard_arrow_down] Layout assets
          ul.dropdown-menu.dropdown-menu-right
            include ./shared/assets.pug
    hr
    section.margin-top-xxl
      .row
        .col-md-3
          p
            | The basic structure provides sidebar,content area, footer and header.
            | Here you can see the colours, In the section below there are
            | Padding, margine an size.
        .col-md-9
          .figure-wrap.margin-top-xxl
            figure.text-center
              img.img-fluid.img-fluid-v-centered(src='/images/layout/layout-implementation.png', alt='Footer image for screens between 770px and 1335px')
    section.margin-top-xxxl
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#responsive-breakpoint-1', aria-controls='responsive-breakpoint-1', role='tab', data-toggle='tab')
            | Greater than 1336px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-2', aria-controls='responsive-breakpoint-2', role='tab', data-toggle='tab')
            | 770px - 1335px
        li.nav-item(role='presentation')
          a.nav-link(href='#responsive-breakpoint-3', aria-controls='responsive-breakpoint-3', role='tab', data-toggle='tab')
            | Less than 770px
      .tab-content
        #responsive-breakpoint-1.tab-pane.active(role='tabpanel')
          span.h3.d-block.margin-top-xxxl
            | Header
          .figure-wrap.margin-top-xl
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/header-specs-web.png', alt='Footer image for screens greater than 1336px')
          span.h3.d-block.margin-top-xxxl
            | Sidebar
          .figure-wrap.margin-top-l
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/sidebar-specs-web.png', alt='Footer image for screens greater than 1336px')
          span.h3.d-block.margin-top-xxxl
            | Footer
          .figure-wrap.margin-top-l
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/footer-specs-web.png', alt='Footer image for screens greater than 1336px')
          span.h3.d-block.margin-top-xxxl
            | Content area
          .figure-wrap.margin-top-l
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/content-area-specs-web.png', alt='Footer image for screens greater than 1336px')
          span.h3.d-block.margin-top-xxxl
            | Sidebar ementents
          .figure-wrap.margin-top-l
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/sidebar-ele-specs-web.png', alt='Footer image for screens greater than 1336px')
          span.h3.d-block.margin-top-xxxl
            | Submenu
          .figure-wrap.margin-top-l
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/submenu-specs-web.png', alt='Footer image for screens greater than 1336px')

        #responsive-breakpoint-2.tab-pane(role='tabpanel')
          span.h3.d-block.margin-top-xxxl
            | Header, sidebar footer
          p
            | The only difference with this page sizes is that the sidebar collapses offering a
            | smaller version off the menu and more space for content.
          .figure-wrap.margin-top-l
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/header-sidebar-footer-tablet.png', alt='Footer image for screens between 770px and 1335px')
        #responsive-breakpoint-3.tab-pane(role='tabpanel')
          span.h3.d-block.margin-top-xxxl
            | Header, sidebar footer
          .figure-wrap.margin-top-xxl
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/header-sidebar-footer-mobile.png', alt='Footer image for screens between 360px and 769px')
          span.h3.d-block.margin-top-xxxl
            | Mobile menu open
          .figure-wrap.margin-top-xxl
            figure
              img.img-fluid.img-fluid-v-centered(src='/images/layout/mobile-menu-open.png', alt='Footer image for screens between 360px and 769px')
