html(lang='en')
  head
    title= "Page not found"
    meta(name='description', content= description)
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:image', content='https://res.cloudinary.com/eosdesignsystem/image/upload/v1588949457/EOS/Social/EOS-social.jpg')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/eos-icons/dist/css/eos-icons.css')
    link(rel='stylesheet', href='/build/css/vendors.min.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='/build/js/vendors.min.js')
  body
    .container-404
      img.bunny(src='/images/error/404.svg', alt='Crying EOS bunny 404 error page mascot image')

      h1
        |404
      h3
        |There's not much left here
      h5
        | Here's what you can do
      div.contact-404
        a(href='mailto:eos-design-system@googlegroups.com', data-event-category='External link', data-event-action='Email to Google groups', data-event-label='404', target='_top')
          img(src='/images/error/mail.svg', alt='Send email to EOS Google group icon')
        a(href='https://gitlab.com/SUSE-UIUX/eos', data-event-category='External link', data-event-action='Gitlab link', data-event-label='404', target='_blank', rel='noreferrer nonopener')
          img(src='/images/error/gitlab.svg', alt='Gitlab link icon')
        a(href='https://twitter.com/eosdesignsystem', data-event-category='External link', data-event-action='Twitter link', data-event-label='404', target='_blank', rel='noreferrer nonopener')
          img(src='/images/error/twitter.svg', alt='Twitter link icon')
        a(href='/')
          img(src='/images/error/home.svg', alt='Back to home link icon')
