extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Links
        p.subheadline
          | Information related to how to implement links and how to choose the right color.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='links-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Links assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='links-assets-dropdown')
            include ../shared/kit-dropdown/assets.pug
      hr
    h2.anchor.margin-top-xxl
      | Link colors
    p
      | The darkest shade (900) of the #[strong Cerulean]
      | color is the default color for links. Link text is bold.
    p
      | For mouse hover, use an underline.
    .usage-example
      .title
        span.d-block.h5
          | #008ACF
        p
          code
            | $eos-bc-cerulean-900
      .wrap.cerulean-white
        p.wrap-content
          | This is the default #[a link color]
    .implementation-example
      h3.margin-top-l
        | Special use case
      p
        | When the color #[a(href='colors/usage/#contrast', data-event-category='Internal link', data-event-action='Contrast ratio link', data-event-label='Links', target='_blank', rel='noreferrer nonopener') contrast] fails between #[code $eos-bc-cerulean-900]
        | and the elements background, the link color remains the same as the text color, dark grey or white.
        | The link text is bold and underlined. Remove the underline on mouse hover.
      p
        | Remove the underline on mouse hover.
      .usage-example.margin-bottom-m
        .title
          span.d-block.h5
            | #141823
          p
            code
              | $eos-bc-gray-1000
        .wrap.yellow
          p.wrap-content
            | Link on colored #[a.link-dark backgrounds].
    .implementation-example
      .usage-example.margin-bottom-m
        .title
          span.d-block.h5
            | #FFFFFF
          p
            code
              | $eos-bc-white
        .wrap.green-blue
          p.wrap-content
            | Link on colored #[a.link-light backgrounds].
    ul.nav.nav-pills.nav-fill(role='tablist')
      li.nav-item(role='presentation')
        a.nav-link.active(href='#icon-colors-examples', aria-controls='icon-colors-examples', role='tab', data-toggle='tab')
          | Implementation examples
    .tab-content
      #icon-colors-examples.tab-pane.active(role='tabpanel')
        .implementation-example
          .result
            a
              | Edit node details
          .css-snippet-container
            .scss-snippet-btns.no-top-margin
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code
              template.js-code-template
                | <a href='#'>Edit node details</a>
              code.js-code-render.language-html
        .implementation-example
          .result.orange-bg
            a.link-dark
              | Edit node details
          .css-snippet-container
            .scss-snippet-btns.no-top-margin
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code
              template.js-code-template
                | <a href='#' class='link-dark'>Edit node details</a>
              code.js-code-render.language-html
        .implementation-example
          .result.dark-bg
            a.link-light
              | Edit node details
          .css-snippet-container
            .scss-snippet-btns.no-top-margin
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code
              template.js-code-template
                | <a href='#' class='link-light'>Edit node details</a>
              code.js-code-render.language-html
