a.card.card-horizontal.clickable.js-video-container.modal-link.js-launch-modal(href='#', data-toggle='modal', data-target='#video-dashboard', data-video-name='#')
  .card-content
    div
      span.d-block.h4
      p
  span.card-icon
    i.eos-icons.eos-18
      | play_circle_filled
  footer
    span.card-link
      | Watch video
