extends ../layouts/layout-main

block content
  .full-page-loading.js-full-page-loading
    img.eos-48(src='./images/animated-icons/loading.svg')
  section.container.js-successStoriesController
    h1
      | Success stories
    p.subheadline
      | The following are products that have successfully implemented SUSE Product Branding following EOS. We find
      | inspiration and motivation in seeing the product portfolio come together as one SUSE brand, and we hope that so do you.
    hr

    section.margin-top-xl.row.js-success-stories-list.success-stories-list
      article.col-md-6.success-story.margin-bottom-l.js-success-stories-item
        .card
          a.js-launch-success-modal(data-toggle='modal', data-target='#success-gallery-modal')
            img.js-success-stories-thumb.card-img-top.success-story-thumb
          .card-body
            span.d-block.h5.js-success-stories-title.card-title
            p.js-success-stories-description.card-text
            .d-flex.justify-content-end
              a.card-link.js-success-stories-link.d-none(target='_blank', data-event-category='Internal Link', data-event-action='See success story project', data-event-label='Success stories', rel='noreferrer nonopener')
                | Project link
      article.col-md-6.margin-bottom-l.success-story.success-story-cta
        .card
          .card-body
            img.margin-bottom-l(src='/images/success-stories/post-story.svg', alt='Trophy image representing success stories')
            button.btn.btn-primary.btn-block.js-success-story-tool-open(data-event-category='Internal Link', data-event-action='Submit success story', data-event-label='Success stories', rel='noreferrer nonopener')
              | Tell us your story
  include ../shared/modals/success-gallery-modal.pug
