extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Typography
        p.subheadline
          | Typography is an important part of the design process.
          | It plays a vital role in the process of communicating with the user.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='typography-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Typography assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='typography-assets-dropdown')
            include ../shared/kit-dropdown/assets.pug
            li
              a.dropdown-item(href='https://fonts.google.com/specimen/Lato', data-event-category='External link', data-event-action='Lato link in dropdown', data-event-label='Typography', target='_blank', rel='noreferrer nonopener')
                i.eos-icons.eos-18
                  | open_in_new
                | Get the Lato font
            li
              a.dropdown-item(href='https://fonts.google.com/specimen/Poppins', data-event-category='External link', data-event-action='Poppins link in dropdown', data-event-label='Typography', target='_blank', rel='noreferrer nonopener')
                i.eos-icons.eos-18
                  | open_in_new
                | Get the Poppins font
            li
              a.dropdown-item(href='https://fonts.google.com/specimen/Roboto+Mono', data-event-category='External link', data-event-action='Roboto Mono link in dropdown', data-event-label='Typography', target='_blank', rel='noreferrer nonopener')
                i.eos-icons.eos-18
                  | open_in_new
                | Get the Roboto Mono
      hr
    section.margin-top-xxl.typography
      h2.anchor
        | Typeface
      p
        | Use #[a(href='https://fonts.google.com/specimen/Lato', data-event-category='External link', data-event-action='Lato font link', data-event-label='Typography', target='_blank', rel='noreferrer nonopener') Lato]
        | as the standard typeface, #[a(href='https://fonts.google.com/specimen/Poppins', data-event-category='External link', data-event-action='Poppins font link', data-event-label='Typography', target='_blank', rel='noreferrer nonopener') Poppins] for headlines and subheadline,
        | and #[a(href='https://fonts.google.com/specimen/Roboto+Mono', data-event-category='External link', data-event-action='Roboto Mono font link', data-event-label='Typography', target='_blank', rel='noreferrer nonopener') Roboto Mono] for code snippets.
        h2.anchor.margin-top-xl
          | Possible variations
        .row
          .col
            ul.no-list-style.no-top-padding-list-style
              li
                p
                  | Lato Regular 400
                p
                  | One design system, endless possibilities
              li
                p
                  em
                    | Lato Italic 400
                p
                  em
                    | One design system, endless possibilities
              li
                p
                  strong
                    | Lato Bold 700
                p
                  strong
                    | One design system, endless possibilities
          .col.secondary-font-example
            ul.no-list-style.no-top-padding-list-style
              li.secondary-font-example-light
                p
                  | Poppins Light 300
                p
                  | One design system, endless possibilities
              li.secondary-font-example-strong
                p
                  strong
                    | Poppins Medium 500
                p
                  strong
                    | One design system, endless possibilities
          .col.code-font-example
            ul.no-list-style.no-top-padding-list-style
              li
                p
                  | Roboto Mono Regular 400
                p
                  | One design system, endless possibilities
    section.margin-top-xxl
      h2.anchor
        | Imports

      h3.anchor
        a#imports(href='#imports-cdn')
          i.eos-icons.eos-18
            | link
        | From CDN
      p
        | Standard
      .css-snippet-container
        .scss-snippet-btns
          i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
            | content_copy
        pre.js-snippet-code
          template.js-code-template
            <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500' rel='stylesheet'>
            <link href='https://fonts.googleapis.com/css2?family=Roboto+Mono' rel='stylesheet'>
          code.js-code-render.language-html
      p
        | Import
      .css-snippet-container
        .scss-snippet-btns
          i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
            | content_copy
        pre.js-snippet-code
          template.js-code-template
            | @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
            | @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500');
            | @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
          code.js-code-render.language-scss
      h3.anchor.margin-top-xl
        a#imports(href='#imports-local')
          i.eos-icons.eos-18
            | link
        | From local files

      p
        | You need to  #[a(href='fonts.zip', data-event-category='Interal link', data-event-action='Download fonts.zip', data-event-label='Typography', target='_blank', rel='noreferrer nonopener') download]
        | Lato and Poppins and then, place the files under your project fonts assets folder.

      p
        | Now you can import the font-files in your CSS file (make sure you add your correct fonts folder path):

      .css-snippet-container
        .scss-snippet-btns
          i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
            | content_copy
        pre.js-snippet-code
          template.js-code-template
            |  /* poppins-300 - latin */
            |  @font-face {
            |    font-family: 'Poppins';
            |    font-style: normal;
            |    font-weight: 300;
            |    src: url('../fonts/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
            |    src: local(''),
            |        url('../fonts/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            |        url('../fonts/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
            |        url('../fonts/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
            |        url('../fonts/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
            |        url('../fonts/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
            |  }
            |  /* poppins-500 - latin */
            |  @font-face {
            |    font-family: 'Poppins';
            |    font-style: normal;
            |    font-weight: 500;
            |    src: url('../fonts/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
            |    src: local(''),
            |        url('../fonts/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            |        url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
            |        url('../fonts/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
            |        url('../fonts/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
            |        url('../fonts/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
            |  }
            |  /* lato-regular - latin */
            |  @font-face {
            |    font-family: 'Lato';
            |    font-style: normal;
            |    font-weight: 400;
            |    src: url('../fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
            |    src: local(''),
            |        url('../fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            |        url('../fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            |        url('../fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
            |        url('../fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            |        url('../fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
            |  }
            |  /* lato-700 - latin */
            |  @font-face {
            |    font-family: 'Lato';
            |    font-style: normal;
            |    font-weight: 700;
            |    src: url('../fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
            |    src: local(''),
            |        url('../fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            |        url('../fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
            |        url('../fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
            |        url('../fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
            |        url('../fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
            |  }
            |  /* roboto-mono-regular - latin */
            |  @font-face {
            |    font-family: 'Roboto Mono';
            |    font-style: normal;
            |    font-weight: 400;
            |    src: url('../fonts/roboto-mono-v12-latin-regular.eot'); /* IE9 Compat Modes */
            |    src: local(''),
            |        url('../fonts/roboto-mono-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            |        url('../fonts/roboto-mono-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            |        url('../fonts/roboto-mono-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
            |        url('../fonts/roboto-mono-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            |        url('../fonts/roboto-mono-v12-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
            |  }
          code.js-code-render.language-css

      h4.anchor.margin-top-xl
        a#imports(href='#imports-local')
          i.eos-icons.eos-18
            | link
        | In CSS
      .css-snippet-container
        .scss-snippet-btns
          i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
            | content_copy
        pre.js-snippet-code
          template.js-code-template
            | font-family: 'Lato', arial, helvetica, sans-serif;
            | /* font-family for h1-h6 and subheadline class: */
            | font-family: 'Poppins', sans-serif;
            | /* font-family for code snippets */
            | font-family: 'Roboto Mono', monospace;
          code.js-code-render.language-css

    section.margin-top-xxl.typography
      h2.anchor
        | Type scale
      p
        | The HTML #[code &lt;small&gt;] tag defines smaller text. It is intended
        | to be used to identify items of secondary importance. It is 0.8 em the
        | size of the parent and it applies only to the title sizes H1 to H5.
      p
        | Heading and body font-sizes are based as follows:
      .table-responsive
        table.table
          thead
            tr
              th
                | HTML tag
              th
                | Size em
              th
                | Size px
              th
                | Font weight
              th
                | Text example
          tbody
            tr
              td
                code
                  | &lt;h1&gt;
              td
                | 2em
              td
                | 28px
              td
                | Poppins Medium 500
              td
                h1
                  | EOS h1 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h2&gt;
              td
                | 1.75em
              td
                | 24.5px
              td
                | Poppins Medium 500
              td
                h2
                  | EOS h2 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h3&gt;
              td
                | 1.5em
              td
                | 21px
              td
                | Poppins Medium 500
              td
                h3
                  | EOS h3 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h4&gt;
              td
                | 1.3em
              td
                | 18.2px
              td
                | Poppins Medium 500
              td
                h4
                  | EOS h4 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h5&gt;
              td
                | 1.15em
              td
                | 16.1px
              td
                | Poppins Medium 500
              td
                h5
                  | EOS h5 headline #[small this is a small text]
            tr
              td
                code
                  | &lt;h6&gt;
              td
                | 1em
              td
                | 14px
              td
                | Poppins Medium 500
              td
                h6
                  | EOS h6 headline
            tr
              td
                code
                  | .subheadline
              td
                | 1.3em
              td
                | 18.2px
              td
                | Poppins Light 300
              td
                p.subheadline
                  | EOS subheadline
            tr
              td
                code
                  | &lt;body&gt;
              td
                | -
              td
                | 14px
              td
                | Lato Regular 400
              td
                p
                  | EOS design system
            tr
              td
                code
                  | &lt;code&gt;
              td
                | -
              td
                | 14px
              td
                | Roboto Mono Regular 400
              td
                p
                  | <code>EOS design system<code>

      section.css-snippet-container
        .scss-snippet-btns
          i.eos-icons.eos-18.eos-light.js-copy-snippet
            | content_copy
        pre.js-snippet-code
          template.js-code-template
            | body {
            |   font-family: 'Lato', arial, helvetica, sans-serif;
            |   font-size: 14px;
            | }
            |
            | h1,
            | h2,
            | h3,
            | h4,
            | h5,
            | h6,
            | .subheadline {
            |   font-family: 'Poppins', sans-serif;
            | }
            |
            | h1,
            | h2 {
            |  font-weight: 500;
            |  margin-bottom: 10px;
            |  margin-top: 20px;
            | }
            |
            | h3 {
            |  margin-bottom: 10px;
            |  margin-top: 20px;
            | }
            |
            | h3,
            | h4,
            | h5,
            | h6 {
            |  font-weight: 500;
            |  margin-bottom: 10px;
            |  margin-top: 10px;
            | }
            |
            | .subheadline {
            |  font-size: 1.3em;
            |  font-weight: 300;
            |  line-height: 1.5em;
            | }
            |
            | code {
            |  font-family: 'Roboto Mono', monospace;
            |  font-weight: 400;
            |  font-size: 14px;
            | }
            |
          code.js-code-render.language-css

    section.margin-top-xxl
      h2.anchor
        | Headline margins
      p
        | All headlines have top and bottom margins defined for cross-browser consistency.
      p
        | #[code h1], #[code h2], #[code h3], use #[code margin-top: 20px], and #[code margin-bottom: 10px].
      p
        | #[code h4], #[code h5], #[code h6], use #[code margin-top: 10px], and #[code margin-bottom: 10px].
    section.margin-top-xxl
      h2.anchor
        | Line-height
      p
        | The line-height is the vertical distance between lines of text.
        | The line-height is calculated as 1:1.5 of text size, line-height: 1.5em.

      p
        | EOS #[a(href='/writing', data-event-category='Internal link', data-event-action='writing guides', data-event-label='Typography') writing guides] and #[a(href='/writing/conventions-and-rules', data-event-category='Internal link', data-event-action='conventions and rules', data-event-label='Typography') conventions and rules]
        | should be followed when writing titles in order to maintain consistency and clarity.
    section.margin-top-xxl
      h2.anchor
        | Text colors
      .usage-example
        .title
          span.d-block.h5
            | #141823
          p
            code
              | $eos-bc-gray-1000
        .wrap.white-gray
          p.wrap-content
            | Default text color on white
      p
        | More information related to text and colors can be found in the #[a(href='/colors/usage', data-event-category='Internal link', data-event-action='color usage guide', data-event-label='Typography') color usage guide]
        | of the design system.
