block error-info
  .error-info
    h1
      | 404
      span
        | File not found
      figure.margin-top-xxl
        img(src='/images/error-page/icon-error-page.png', alt='Error')
    .error-message
      p
        | We couldn't find what you are looking for.
      p
        | Here are some helpful links instead:
      .margin-top-xxl
        button.btn.btn-primary.margin-right-xxl(type='submit') Back to homepage
        a.link-light(href='#')
          | Contact us
    include error-footer.pug
