block error-info
  .error-info
    h1
      | 503
      span
        | Service unavailable
      figure.margin-top-xxl
        img(src='/images/error-page/icon-error-page.png', alt='Error')
    .error-message
      p
        | The server is currently unable to handle the request due to a temporary
        | overload or scheduled maintenance, which will be fixed shortly.
        span
          | :service_unavailable
      .margin-top-xxl
        a.link-light(href='#')
          | Contact us
    include error-footer.pug
