/* Dashboard writing variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */

/* $eos-da-w- stands for $eos-dashboard-writing */
$eos-da-w-writing-mosaic-bg: url('../images/dashboard-writing/writing-splash.svg');
$eos-da-w-writing-mosaic-height: 371px;
$eos-da-w-writing-mosaic-m-bottom: 90px;
/* Blocks */
$eos-da-w-brand-voice-color: $eos-bc-cerulean-500;
$eos-da-w-brand-tone-color: $eos-bc-green-500;
$eos-da-w-brand-ux-writing: $eos-bc-yellow-900;
