/* Dashboard writing
   ========================================================================== */
/* Variables: /assets/stylesheets/eos-pages/dashboard-writing/dashboard-writing.variables.scss */

.writing-mosaic {
  background-image: $eos-da-w-writing-mosaic-bg;
  background-repeat: no-repeat;
  background-size: contain;
  height: $eos-da-w-writing-mosaic-height;
  margin: 0 auto $eos-da-w-writing-mosaic-m-bottom;
  width: 100%;

  @media screen and (max-width: $eos-sd-max) {
    display: none;
  }
}
