extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Buttons
        p.subheadline
          | Buttons are elements used to perform actions such as submitting a form,
          | opening a dialog, or cancelling an action. They are an essential element
          | of interaction design and have a primary role in the conversation between a user and the system.

        p.subheadline
          | There are a number of options you can use when styling a button such as size, type, and state.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='buttons-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Buttons assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='buttons-assets-dropdown')
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl
      h2.anchor
        | General specs
      .row.align-items-center.smart-specs.js-smspecs-style
        .col-sm-3.mb-4.mb-sm-0
          .smart-specs-code.js-smspecs-code
            button.btn.btn-secondary(data-specs='border: 1px solid rgb(20, 24, 35); border-radius: 20px')
              | Button
        .col-sm-5.mb-4.mb-sm-0
          .smart-specs-props
            span.d-block.h4
              | CSS properties
            ul.js-smspecs-props-list.list-unstyled
        .col-sm-4
          .smart-specs-box.justify-content-sm-center
            .smart-specs-margin
              .title
                | margin
              .js-smspecs-m-top.top 0
              .js-smspecs-m-right.right 0
              .js-smspecs-m-bottom.bottom 0
              .js-smspecs-m-left.left 0
              .smart-specs-border
                .title
                  | border
                .js-smspecs-b-top.top 0
                .js-smspecs-b-right.right 0
                .js-smspecs-b-bottom.bottom 0
                .js-smspecs-b-left.left 0
                .smart-specs-padding
                  .title
                    | padding
                  .js-smspecs-p-top.top 0
                  .js-smspecs-p-right.right 0
                  .js-smspecs-p-bottom.bottom 0
                  .js-smspecs-p-left.left 0
    section.row.states-row.margin-top-xxl
      .col-md-3.states-column
        strong.states-column-title
          | Button types
        ul.states-list.no-list-style.js-showcase-list
          li.js-showcase-current
            .form-check
              input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='button')
              label.form-check-label.js-element-label(for='default-state')
                | Secondary
      .col-md-9.component-showcase-col
        strong.js-showcase-how-to
          | How to use this element
        p.js-how-to-use
        .js-snippet-alert
        strong.d-block
          | Example
        .states-example-box
          .example-inner-box.w-100.js-example-inner-box
        strong.d-block
          | Code
        .css-snippet-container
          .scss-snippet-btns
            i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
              | content_copy
          pre.js-snippet-code.language-markup
            code.language-html
    section.margin-top-xxl
      h2.anchor
        | Button vs. link
      p
        | The HTML elements for buttons and links describe a very specific type of action that is
        | going to be taken when they are used. However, it is important to know when to use one or
        | the other in a specific situation:
      ul.list-no-padding
        li
          | Use links for navigating to other pages.
        li
          | Use buttons for performing an action, such as: “submit”, “merge”, “create new”,
          | “upload”, etc. These actions almost always occur on the same page.
      .alert.alert.alert-section.alert-info
        i.alert-icon.eos-icons.eos-18
          | info
        .alert-body
          .alert-title
            | Do not use the #[code btn-link] class in a button element.
          | All buttons should be clearly styled as buttons. This helps the user identify the
          | type of response to expect when clicking on a given element. Go to the
          | #[a(href='/buttons/usage', data-event-category='Internal link', data-event-action='usage', data-event-label='Buttons/alert') usage] page for more information about bootstrap classes.
        a.close(data-dismiss='alert')
          i.eos-icons.md-18
            | close
    section.margin-top-xxl
      h2.anchor
        | Button sizing
      p
        | The size of buttons plays a key role in helping users to identify buttons according to their importance.
      .alert.alert-section.alert-info
        i.alert-icon.eos-icons.eos-18
          | info
        .alert-body
          .alert-title
            | Bootstrap btn-link class
          | Do not use the #[code btn-xs] and #[code btn-lg] button classes. They have been excluded from the EOS Design System
          | because they do not fullfill our criteria for readability and accessibility.
        a.close(data-dismiss='alert')
          i.eos-icons.md-18
            | close
