extends ../layouts/layout-main

block content
  article.container
    h1
      | Positioning
    p.subheadline
      | The placement and arrangement of buttons in an interface needs to be
      | consistent in order to ensure a seamless user experience.
    hr

    section.margin-top-xxl
      h2.anchor
        | Button placement
      p
        | Buttons should be placed at the bottom right of a page or component, which represents the terminal area (call-to-action).

      .example-wrap.example-wrap-short
        .example-wrap-content
          ul
            li
            li
        .example-wrap-cta
          .btn.btn-secondary
            | Button

    section.margin-top-xxl
      h2.anchor
        | Button arrangement
      p
        | When there's more than one button, the button which represents the primary
        | call-to-action should be placed farthest to the right.
      p
        | This button should
        | trigger an immediate response from the user, which is why it needs to be more
        | prominent than the default button.
      p
        | Preferably, there should be only one
        | primary call-to-action button in dialogs and pages.
      .example-wrap.example-wrap-short
        .example-wrap-content
          ul
            li
            li
        .example-wrap-cta
          .btn.btn-secondary
            | Cancel
          .btn.btn-primary
            | Save
      .example-wrap.example-wrap-long
        .example-wrap-content
          ul
            li
        .example-wrap-cta
          .btn.btn-secondary
            | Cancel
          .btn.btn-primary
            | Save

    section.margin-top-xxl
      h2.anchor
        | Danger button
      p
        | The danger button has a different visual style and is used to inform users
        | of destructive or negative actions.
      p
        | This button should also trigger an immediate response from the user,
        | which is why it needs to be more prominent than the default button.
      .example-wrap.example-wrap-short
        .example-wrap-content
          ul
            li
            li
        .example-wrap-cta
          .btn.btn-secondary
            | Cancel
          .btn.btn-danger
            | Delete
      .example-wrap.example-wrap-long
        .example-wrap-content
          ul
            li
        .example-wrap-cta
          .btn.btn-secondary
            | Cancel
          .btn.btn-danger
            | Delete
