.example-wrap {
  border: 1px solid $eos-example-wrap-border-color;
  display: flex;
  flex-direction: column;
  margin-top: $eos-example-wrap-margin-top;
  padding: $eos-example-wrap-padding;

  &-content {
    align-items: center;
    display: flex;
    width: 100%;

    ul {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      background: $eos-example-wrap-content-li-background;
      display: block;
      height: $eos-example-wrap-content-li-height;
      list-style: none;
      margin: $eos-example-wrap-content-li-margin;
      width: 100%;
    }

    li:nth-child(2n) {
      width: 60%;
    }

    li:only-child {
      width: 90%;
    }
  }

  &-cta {
    display: flex;
    justify-content: flex-end;

    .btn {
      margin: $eos-example-wrap-cra-margin;
    }
  }

  &-short {
    width: $eos-example-wrap-short-width;

    .example-wrap-cta {
      margin-top: $eos-example-wrap-short-margin-top;
    }

    @media screen and (max-width: $eos-sd-max) {
      width: auto;
    }
  }

  &-long {
    flex-direction: row;
    justify-content: space-between;
    padding: $eos-example-wrap-long-padding;
    width: $eos-example-wrap-long-width;

    @media screen and (max-width: $eos-sd-max) {
      width: auto;
    }
  }
}
