extends ../layouts/layout-main

block content
  article.container.dashboard.js-newsController.js-changelogController
    section.row
      .col-sm-8.js-dash-title
        h1
          | SUSE Product brand
        p.subheadline
          | An open source design system made for #{config.brand} enterprise products and powered by EOS UI/UX solutions.
      - if (locals.config.showChangelog) {
        .col-sm-4
          .changelog-box.js-changelog.changelog-box-inactive(onclick='window.location.href = "/changelog"')
            .changelog-box-left
              img.changelog-img(src='/images/components/changelog/rocket.svg', alt='Changelog rocket icon')
            .changelog-box-right
              span.h5
                | We’ve introduced new changes.
              p
                strong
                  | See the changelog for more information.
      - }
    section.getting-started.w-100
      .container.mt-5.text-center
        .row
          .col
            .getting-started-img
        .row
          .col-md.getting-started-item
            .d-sm-block.d-md-none.text-center
              svg.light-theme
                use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-a')
            .d-sm-block.d-md-none
              svg.dark-theme
                use(xlink:href='/images/dashboard/getting-started-sprite-dark.svg#getting-started-a')
            .text-center.w-75.mt-5
              span.h4.d-block
                | Design new features
              | Design consistent UIs for your products using our all-in-one design kit.
              a.mt-4.d-block(href='/design-kit', data-event-category='Internal link', data-event-action='Design kit', data-event-label='Dashboard')
                | Download design kit
          .col-md.text-center.getting-started-item
            .d-xs-block.d-md-none
              svg.light-theme
                use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-b')
            .d-xs-block.d-md-none
              svg.dark-theme
                use(xlink:href='/images/dashboard/getting-started-sprite-dark.svg#getting-started-b')
            .text-center.w-75.mt-5
              span.h4.d-block
                | MVPs or proprietary code
              | Use the NPM package to quickly theme-up your Bootstrap 4 based product.
              a.mt-4.d-block(href='/installing-npm', data-event-category='Internal link', data-event-action='Install using NPM', data-event-label='Dashboard')
                | Install using NPM
          .col-md.text-center.getting-started-item
            .d-xs-block.d-md-none
              svg.light-theme
                use(xlink:href='/images/dashboard/getting-started-sprite.svg#getting-started-c')
            .d-xs-block.d-md-none
              svg.dark-theme
                use(xlink:href='/images/dashboard/getting-started-sprite-dark.svg#getting-started-c')
            .text-center.w-75.mt-5
              span.h4.d-block
                | Ideal for downstream OSS
              | Implement SUSE's UI with your own code using design specs.
              a.mt-4.d-block(href='/design-specs', data-event-category='Internal link', data-event-action='Implement manually', data-event-label='Dashboard')
                | Implement manually

  article.container.atomic-classification
    //- Resources and guides
    section.margin-top-xxl
      h2
        | Atomic design classification
      p
        | All elements, components, guides, and more are delivered following the atomic
        | design methodology. We have grouped them inside the next 4 cards for you to get a
        | better overview of how we are building EOS.
      .row.margin-top-xxl
        .col-12.col-sm-12.col-md-6
          .row.margin-bottom-l
            .col-lg-3
              .figure-wrap.text-center
                figure.m-0
                  img(src='/images/dashboard/atoms.svg', alt='Icon depicting atoms')
            .col-lg-9
              h3.mb-0
                | Atoms
              p
                | The smallest building blocks of your project.
                | Text styles, buttons, icons, input fields, checkboxes, etc.
              p
                | Atoms: #[a(href='/buttons', data-event-category='Internal link', data-event-action='', data-event-label='Dashboard') Buttons], #[a(href='/colors', data-event-category='Internal link', data-event-action='Colors', data-event-label='Dashboard') Colors],
                | #[a(href='/icons', data-event-category='Internal link', data-event-action='Icons', data-event-label='Dashboard') Icons], #[a(href='/patterns', data-event-category='Internal link', data-event-action='Patterns', data-event-label='Dashboard') Patterns],
                | #[a(href='/typography', data-event-category='Internal link', data-event-action='Typography', data-event-label='Dashboard') Typography], #[a(href='/writing', data-event-category='Internal link', data-event-action='Writing guides', data-event-label='Dashboard') Writing guides],
                | #[a(href='/badges', data-event-category='Internal link', data-event-action='Badges', data-event-label='Dashboard') Badges],
                | #[a(href='/form-elements/checkbox', data-event-category='Internal link', data-event-action='Checkbox', data-event-label='Dashboard') Checkbox],
                | #[a(href='/form-elements/radio-buttons', data-event-category='Internal link', data-event-action='Radio buttons', data-event-label='Dashboard') Radio buttons],
                | #[a(href='/form-elements/text-area', data-event-category='Internal link', data-event-action='Text area', data-event-label='Dashboard') Text area],
                | #[a(href='/form-elements/input-fields', data-event-category='Internal link', data-event-action='Input fields', data-event-label='Dashboard') Input fields],
                | #[a(href='/form-elements/select', data-event-category='Internal link', data-event-action='Select', data-event-label='Dashboard') Select],
                | #[a(href='/form-elements/toggle', data-event-category='Internal link', data-event-action='Toggle', data-event-label='Dashboard') Toggle],
                | #[a(href='/links', data-event-category='Internal link', data-event-action='Links', data-event-label='Dashboard') Links],
                | #[a(href='/tooltips', data-event-category='Internal link', data-event-action='Tooltips', data-event-label='Dashboard') Tooltips]

        .col-12.col-sm-12.col-md-6
          .row.margin-bottom-l
            .col-lg-3
              .figure-wrap.text-center
                figure.m-0
                  img(src='/images/dashboard/molecules.svg', alt='Icon depicting molecules')
            .col-lg-9
              h3.mb-0
                | Molecules
              p
                | More complex entities consisting of several atoms. Things like
                | notification toasts, data values (label: value), input fields with buttons, etc.
              p
                | Molecules: #[a(href='/alerts', data-event-category='Internal link', data-event-action='Alerts', data-event-label='Dashboard') Alerts],
                | #[a(href='/dropdown', data-event-category='Internal link', data-event-action='Dropdown', data-event-label='Dashboard') Dropdown],
                | #[a(href='/form-elements/address', data-event-category='Internal link', data-event-action='Address', data-event-label='Dashboard') Address],
                | #[a(href='/pagination', data-event-category='Internal link', data-event-action='Pagination', data-event-label='Dashboard') Pagination],
                | #[a(href='/tables', data-event-category='Internal link', data-event-action='Tables', data-event-label='Dashboard') Tables],
                | #[a(href='/cards', data-event-category='Internal link', data-event-action='Cards', data-event-label='Dashboard') Cards]
      .row.margin-top-xxl
        .col-12.col-sm-12.col-md-6
          .row.margin-bottom-l
            .col-lg-3
              .figure-wrap.text-center
                figure.m-0
                  img(src='/images/dashboard/organisms.svg', alt='Icon depiciting molecules')
            .col-lg-9
              h3.mb-0
                | Organisms
              p
                | Truly functional parts of a page, made from groups of atoms and molecules.
              p
                | Organisms: #[a(href='/layout/main-menu', data-event-category='Internal link', data-event-action='Main menu', data-event-label='Dashboard') Main menu],
                | #[a(href='/layout/submenu', data-event-category='Internal link', data-event-action='Submenu', data-event-label='Dashboard') Submenu]
        .col-12.col-sm-12.col-md-6
          .row.margin-bottom-l
            .col-lg-3
              .figure-wrap.text-center
                figure.m-0
                  img(src='/images/dashboard/templates.svg', alt='Icon depicting templates')
            .col-lg-9
              h3.mb-0
                | Templates
              p
                | Essentially, those are pages without real content.
                | Text styles, buttons, icons, input fields, checkboxes, etc.
              p
                | Templates: #[a(href='/layout', data-event-category='Internal link', data-event-action='Main layout', data-event-label='Dashboard/Templates') Main layout],
                | #[a(href='/templates/sign-in', data-event-category='Internal link', data-event-action='Sign in', data-event-label='Dashboard') Sign in],
                | #[a(href='/templates/error-page', data-event-category='Internal link', data-event-action='Error page', data-event-label='Dashboard') Error page]
  section.articles-gallery.container
    .row
      .col-sm-8
        h3
          | News and tutorials
      .col-sm-4.text-right
        .carousel-controller
          .ag-arrow.js-news-tutorials-before
            i.eos-icons.js-tooltip(data-toggle='tooltip', title='Previous')
              | keyboard_arrow_left
          .ag-arrow.js-news-tutorials-next
            i.eos-icons.js-tooltip(data-toggle='tooltip', title='Next')
              | keyboard_arrow_right
      .news-loading-wrap.js-news-loading-wrap
        i.eos-icons.eos-icon-loading.eos-36
    .news-tutorials-carousel.carousel.js-news-tutorials-carousel.hide
      //- Starting carousel content
      include ../shared/news/video
      include ../shared/news/article

  include ../shared/modals/video-modal.pug
