extends ../layouts/layout-main

block content
  .full-page-loading.js-full-page-loading
    img.eos-48(src='./images/animated-icons/loading.svg')
  article.container
    h1
      | NPM instalation documentation
    p.subheadline
      | Instructions about how to integrate EOS in your Bootstrap project.
    hr
    section.js-documentation-npm
