extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Cards
        p.subheadline
          | Cards are flexible containers used to wrap content related to a singular subject. Cards can have actions of their own, images, tabulated data, and more.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='cards-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Card assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='cards-assets-dropdown')
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.anchor
        | Description
      ul.list-no-padding
        li
          | By default, cards will take 100% of the available width. To restrict their size you can use the classes #[code w-25], #[code w-50], #[code w-75], which make the cards take 25%, 50%, or 75% of the horizontal space.

      .row.states-row.margin-top-xxl
        .col-md-3.states-column
          strong.states-column-title
            | Cards types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              .form-check
                input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='cards')
                label.form-check-label.js-element-label(for='default-state')
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code.language-markup
              code.language-html
