extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Inline alerts
        p.subheadline
          | Inline alerts are used to notify a user of the status of an action within a component when the action is triggered in real time.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='alerts-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Alerts assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='alerts-assets-dropdown')
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xxl.section-alerts-demo
      h2.anchor
        | Description
      ul.list-no-padding
        li
          | They are often triggered in response to an action by the user.
        li
          | Inline alerts are positioned within the area or form they relate to.
        li
          | Alerts of high importance (warning or danger) should not close automatically, until the situation has been resolved.
      .figure-wrap
        figure
          img(src='/images/alerts/inline-alert.svg', alt='Inline alert position')
      h2.anchor.margin-top-xxl
        | Different states and types
      h3.margin-top-m
        | Success
      p
        | Success alerts should be used when an action was performed successfully.
      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab')
            | Bootstrap 4 implementation examples
      .tab-content
        #alert-success-example.tab-pane.active(role='tabpanel')
          .implementation-example
            .result
              .alert.alert-inline.alert-success
                i.eos-icons.eos-18.alert-icon
                  | check_circle
                .alert-body
                  | Settings saved.
                a.close(data-dismiss='alert')
                  i.eos-icons.eos-18
                    | close
            .css-snippet-container
              .scss-snippet-btns
                i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                  | content_copy
              pre.js-snippet-code
                template.js-code-template
                  | <div class='alert alert-inline alert-success'>
                  |   <i class='eos-icons eos-18 alert-icon'>check_circle</i>
                  |   <div class='alert-body'>Settings saved.</div>
                  |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                  | </div>
                code.js-code-render.language-html

      .margin-top-xxl
        h3.margin-top-m
          | Info
        p
          | Info alerts should be used when there are tips or information that a user can benefit from.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #alert-info-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-inline.alert-info
                  i.eos-icons.eos-18.alert-icon
                    | info
                  .alert-body
                    | #[a New comments] awaiting response.
                  a.close(data-dismiss='alert')
                    i.eos-icons.eos-18
                      | close
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <div class='alert alert-inline alert-info'>
                    |   <i class='eos-icons eos-18 alert-icon'>info</i>
                    |   <div class='alert-body'><a>New comments</a> awaiting response.</div>
                    |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                    | </div>
                  code.js-code-render.language-html

      .margin-top-xxl
        h3.margin-top-m
          | Warning
        p
          | Warning alerts should be used for messages that likely require attention.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #alert-warning-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-inline.alert-warning
                  i.eos-icons.eos-18.alert-icon
                    | warning
                  .alert-body
                    | Subscription expiring soon.
                  a.close(data-dismiss='alert')
                    i.eos-icons.eos-18
                      | close
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <div class='alert alert-inline alert-warning'>
                    |   <i class='eos-icons eos-18 alert-icon'>warning</i>
                    |   <div class='alert-body'>Subscription expiring soon.</div>
                    |   <a class='close' data-dismiss='alert'><i class='eos-icons eos-18'>close</i></a>
                    | </div>
                  code.js-code-render.language-html

      .margin-top-xxl
        h3.margin-top-m
          | Danger
        p
          | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.
        strong
          | * Never include a close icon or link to dismiss the action. In cases when alert should be dismissible use warning alert instead.

        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #alert-danger-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-inline.alert-danger
                  i.eos-icons.eos-18.alert-icon
                    | error
                  .alert-body
                    | Subscription expired. #[a Renew] subscription.
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                    | content_copy
                pre.js-snippet-code
                  template.js-code-template
                    | <div class='alert alert-inline alert-danger'>
                    |   <i class='eos-icons eos-18 alert-icon'>error</i>
                    |   <div class='alert-body'>Subscription expired. <a>Renew</a> subscription.</div>
                    | </div>
                  code.js-code-render.language-html
