extends ../layouts/layout-main

block content
  article.container
    h1
      | Usage
    p.subheadline
      | Because alerts are meant to inform the user of important information, they
      | should be used sparingly and be well-targeted to the page, section, or inline
      | element they refer to. Following these rules when using alerts in your
      | interface will help present a cohesive experience.
    hr
    section.margin-top-xxl.alerts-usage
      h2.anchor
        | Text message
      p
        | All alerts include an area for text. Section alerts must include a title above the message.
        | Although alerts support content of various length, when writing an alert message
        | try to be descriptive but concise.
        | Be sure to follow the #[a(href='/writing', data-event-category='Internal link', data-event-action='writing guides', data-event-label='Alerts/Usage') writing guides] when writing content for your messages.
      h2.anchor
        | Links
      p
        | Alerts can include a link to provide more information or to redirect the user to the next step.
        | #[a(href='/writing/conventions-and-rules', data-event-category='Internal link', data-event-action='Conventions and rules', data-event-label='Alerts/Usage') Conventions and rules] should be followed when including URL in alerts.
      h2.anchor
        | Button usage
      p
        | Alerts are meant solely to inform the user of important information.
        | As such, buttons or other form elements are not allowed in alerts.
      .do-dont-container.do-dont-container-full-width.margin-top-xl
        .do-column
          .do-dont-title
            span.d-block.h6
              i.eos-icons.eos-18
                | check_circle
              | Do
          .do-dont-content
            .alert.alert-section.alert-danger
              i.eos-icons.eos-18.alert-icon
                | error
              .alert-body
                .alert-title
                  | Expired subscriptions
                | 2 of your systems’ subscriptions have expired. To stop seeing this message
                | #[a(href='#') renew your subscriptions] or delete the systems from your organization.
      .do-dont-container.do-dont-container-full-width.margin-top-xl
        .dont-column
          .do-dont-title
            span.d-block.h6
              i.eos-icons.eos-18
                | cancel
              | Don't
          .do-dont-content
            .alert.alert-section.alert-danger
              i.eos-icons.eos-18.alert-icon
                | error
              .alert-body
                .alert-title
                  | Expired subscriptions
                | 2 of your systems’ subscriptions have expired and you can no
                | longer access the systems. To stop seeing this message.
                br
                button.btn.btn-danger.margin-top-s
                  | Delete
      h2.anchor.margin-top-xxl
        | Dismissal
      p
        | Alerts may be dismissible with a close icon, except for the danger alert
        | which should always stay visible until the system detects the problem has been
        | resolved. The close icon is always placed farthest to the right of the alert.
        | If the content breaks into a new line, the close icon remains in top right corner.
      h2.anchor
        | Icons
      p
        | All alerts may use icons to provide additional clarity. Icons are always
        | placed to the left of the text or a title. If the content breaks into a new
        | line, the icon remains aligned with first line or a title. When an alert
        | background is same as the icon color, then the white icon should be used.
      ul.list-no-padding.no-list-style.alert-icon-examples
        li.success
          span
            i.eos-icons.eos-18
              | check_circle
          i.eos-icons.eos-18
            | check_circle
          | Use the #[code check_circle] icon from EOS icons for success alerts.
        li.info
          span
            i.eos-icons.eos-18
              | info
          i.eos-icons.eos-18
            | info
          | Use the #[code info] icon from EOS icons for info alerts.
        li.warning
          span
            i.eos-icons.eos-18
              | warning
          i.eos-icons.eos-18
            | warning
          | Use the #[code warning] icon from EOS icons for warning alerts.
        li.danger
          span
            i.eos-icons.eos-18
              | error
          i.eos-icons.eos-18
            | error
          | Use the #[code error] icon from EOS icons for error alerts.
