//- Fill the modal with your annoucement banner and enabled it in Strapi (appplications > your_app > showAnnoucement)
.modal-custom.modal.fade.js-global-modal(role='dialog', aria-labelledby='announcement-modal', aria-label='Announcement modal')
  #announcement-modal.modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.js-tooltip(title='Close', aria-hidden='true')
            i.eos-icons.eos-18.eos-light
              | close
      .modal-body
