extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Product labels
        p.subheadline
          | SUSE acts as one corporate brand. This strategy is also reflected whenever we display our products
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='product-labels-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Logos assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='product-labels-dropdown')
            li
              a.dropdown-item(href='/typography', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Links')
                i.eos-icons.eos-18
                  | library_books
                | Poppins Font
    hr
    section.row
      .col-md-6
        h2.anchor.margin-top-xxl
          | Introduction
        p
          | As we do not create product brands, we don’t apply logos for commercial products. We label them with their names, written in our corporate font Poppins and without any additional picture mark. As with any rule, there is one exception: SUSE Rancher

        p
          | We generate positive spillover effects, by using a label for the SUSE Rancher commercial product.

        .alert.alert-section.alert-info
          i.eos-icons.eos-18.alert-icon info
          .alert-body
            | For SUSE Rancher labels and more information please refer to the #[a(href='https://brand.suse.com/') Brand Page] or contact the brand team
      .col-md-6
        .figure-wrap.margin-top-xxl
          figure.text-center
            img.img-fluid.img-fluid-v-centered(src='/images/logos/labels.png', alt='SUSE logo labels')
    section.row
      .col-md-12
        h2.anchor.margin-top-xxl
          | Examples of product labels
      .col-md-6
        .figure-wrap.margin-top-xxl
          figure.text-center
            img.img-fluid.img-fluid-v-centered(src='/images/logos/product-logos-eg.png', alt='SUSE logo labels')
      .col-md-6
        .figure-wrap.margin-top-xxl
          figure.text-center
            img.img-fluid.img-fluid-v-centered(src='/images/logos/product-logos-eg-1.png', alt='SUSE logo labels')
