nav.main-menu.js-main-menu(aria-label='Site Navigation')
  .mm-navigation-container
    header
      a.hide-collapsed(href='/')
        img.ds-logo(src='/images/suse-product-brand.svg', alt='SUSE product brand logotype')
      .mm-navigation-close.js-sidebar-toggle
        i.eos-icons.js-sidebar-tooltip.js-tooltip(data-placement='bottom', title='')
          | menu
    include main-menu.pug

  include ../footer/footer-side-menu.pug
