nav.submenu.js-submenu-section(aria-label='Page Navigation')
  //- Demo layout
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='examples')
    li.list-inline-item
      a.submenu-item.js-select-current(href='/examples/demo-layout.html')
        | Submenu 1
    li.list-inline-item
      a.submenu-item.js-select-current
        | Submenu 2
    li.list-inline-item
      a.submenu-item.js-select-current
        | Submenu 3
    li.list-inline-item
      a.submenu-item.js-select-current
        | Submenu 4
    li.list-inline-item
      a.submenu-item.js-select-current
        | Submenu 5
    li.list-inline-item
      a.submenu-item.js-select-current
        | Submenu 6
    li.list-inline-item
      a.submenu-item.js-select-current
        | Submenu 7
    li.list-inline-item
      a.submenu-item.js-select-current
        | Submenu 8
    li.list-inline-item
      a.submenu-item.js-select-current
        | Submenu 9

  //- Colors
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='colors')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/colors', data-feature-flag= docEnabled['/colors'])
        | Colors
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/colors/usage', data-feature-flag= docEnabled['/colors/usage'])
        | Usage
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/colors/dark-theme-colors', data-feature-flag= docEnabled['/colors/dark-theme-colors'])
        | Dark theme colors

  //- Icons
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='icons')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/icons', data-feature-flag= docEnabled['/icons'])
        | Icons
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/icons/logo-icons-set', data-feature-flag= docEnabled['/icons/logo-icons-set'])
        | Logo icons set
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/icons/commonly-used', data-feature-flag= docEnabled['/icons/commonly-used'])
        | Most commonly used icons
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/icons/icon-ux', data-feature-flag= docEnabled['/icons/icon-ux'])
        | Icon UX
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/icons/arrows-usage', data-feature-flag= docEnabled['/icons/arrows-usage'])
        | Arrow icons usage
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='product-labels')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/product-labels', data-feature-flag= docEnabled['/product-labels'])
        | Product Labels

  //- Input fields
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='form-elements/input-fields')
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/input-fields', data-feature-flag= docEnabled['/form-elements/input-fields'])
        | Text
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/input-fields/password', data-feature-flag= docEnabled['/form-elements/input-fields/password'])
        | Password
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/input-fields/range', data-feature-flag= docEnabled['/form-elements/input-fields/range'])
        | Range
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/input-fields/file', data-feature-flag= docEnabled['/form-elements/input-fields/file'])
        | File
  //- checkbox
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='form-elements/checkbox')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/form-elements/checkbox', data-feature-flag= docEnabled['/form-elements/checkbox'])
        | Checkbox

  //- Toggle
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='form-elements/toggle')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/form-elements/toggle', data-feature-flag= docEnabled['/form-elements/toggle'])
        | Toggle

  //- Badges
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='badges')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/badges', data-feature-flag= docEnabled['/badges'])
        | Badges

  //- checkbox
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='form-elements/radio-buttons')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/form-elements/radio-buttons', data-feature-flag= docEnabled['/form-elements/radio-buttons'])
        | Radio buttons
  //- Select
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='form-elements/select')
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/select', data-feature-flag= docEnabled['/form-elements/select'])
        | Single selection
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/select/multiple-selection', data-feature-flag= docEnabled['/form-elements/select/multiple-selection'])
        | Multiple selection
  //- text-area
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='form-elements/text-area')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/form-elements/text-area', data-feature-flag= docEnabled['/form-elements/text-area'])
        | Text area

  //- Address
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='form-elements/address')
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/address', data-feature-flag= docEnabled['/form-elements/address'])
        | Address format
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/form-elements/address/displaying-addresses', data-feature-flag= docEnabled['/form-elements/address/displaying-addresses'])
        | Displaying addresses

  //- Documentation: NPM
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='installing-npm')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/installing-npm', data-feature-flag= docEnabled['/installing-npm'])
        | Installing EOS npm

  //- Documentation: Design Specs
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='design-specs')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/design-specs', data-feature-flag= docEnabled['/design-specs'])
        | Implementing design specs

  //- Documentation - design-kit
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='design-kit')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/design-kit', data-feature-flag= docEnabled['/design-kit'])
        | Design kit

  //- Writing guides
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='writing')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/writing', data-feature-flag= docEnabled['/writing'])
        | Writing guides
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/writing/brand-voice', data-feature-flag= docEnabled['/writing/brand-voice'])
        | Brand voice
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/writing/brand-tone', data-feature-flag= docEnabled['/writing/brand-tone'])
        | Brand tone
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/writing/ux-writing', data-feature-flag= docEnabled['/writing/ux-writing'])
        | UX writing
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/writing/conventions-and-rules', data-feature-flag= docEnabled['/writing/conventions-and-rules'])
        | Conventions and rules
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/writing/acronyms', data-feature-flag= docEnabled['/writing/acronyms'])
        | Acronyms

  //- Buttons
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='buttons')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/buttons', data-feature-flag= docEnabled['/buttons'])
        | Buttons
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/buttons/positioning', data-route= '/buttons/positioning', data-feature-flag= docEnabled['/buttons/positioning'])
        | Positioning
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/buttons/usage', data-route= '/buttons/usage', data-feature-flag= docEnabled['/buttons/usage'])
        | Usage

  //- Patterns
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='patterns')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/patterns', data-feature-flag= docEnabled['/patterns'])
        | Patterns
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/patterns/common-actions', data-feature-flag= docEnabled['/patterns/common-actions'])
        | Common actions
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/patterns/loading', data-route= '/patterns/loading', data-feature-flag= docEnabled['/patterns/loading'])
        | Loading
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/patterns/spacing', data-route= '/patterns/spacing', data-feature-flag= docEnabled['/patterns/spacing'])
        | Spacing
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/patterns/date-time', data-route= '/patterns/date-time', data-feature-flag= docEnabled['/patterns/date-time'])
        | Date & time

  //- Alerts
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='alerts')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/alerts', data-feature-flag= docEnabled['/alerts'])
        | Alerts
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/alerts/global', data-route= '/alerts/global', data-feature-flag= docEnabled['/alerts/global'])
        | Global
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/alerts/section', data-route= '/alerts/section', data-feature-flag= docEnabled['/alerts/section'])
        | Section
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/alerts/inline', data-route= '/alerts/inline', data-feature-flag= docEnabled['/alerts/inline'])
        | Inline
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/alerts/usage', data-route= '/alerts/usage', data-feature-flag= docEnabled['/alerts/usage'])
        | Usage

  //- Error page
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='templates/error-page')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/templates/error-page', data-feature-flag= docEnabled['/templates/error-page'])
        | Error page

  //- Layout
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='layout')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/layout', data-feature-flag= docEnabled['/layout'])
        | Layout
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/layout/main-menu', data-route= '/layout/main-menu', data-feature-flag= docEnabled['/layout/main-menu'])
        | Main menu
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/layout/submenu', data-route= '/layout/submenu', data-feature-flag= docEnabled['/layout/submenu'])
        | Submenu
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/layout/footer', data-route= '/layout/footer', data-feature-flag= docEnabled['/layout/footer'])
        | Footer
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/layout/layout-dark-theme', data-route= '/layout/layout-dark-theme', data-feature-flag= docEnabled['/layout/layout-dark-theme'])
        | Dark theme
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/layout/implementation', data-route= '/layout/implementation', data-feature-flag= docEnabled['/layout/implementation'])
        | Implementation

  //- Sign in
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='templates/sign-in')
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in', data-feature-flag= docEnabled['/templates/sign-in'])
        | Sign in
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in/sign-up', data-route= '/templates/sign-in/sign-up', data-feature-flag= docEnabled['/templates/sign-in/sign-up'])
        | Sign up
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in/password-recovery', data-route= '/templates/sign-in/password-recovery', data-feature-flag= docEnabled['/templates/sign-in/password-recovery'])
        | Password recovery
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in/alerts-in-sign-in', data-route= '/templates/sign-in/alerts-in-sign-in', data-feature-flag= docEnabled['/templates/sign-in/alerts-in-sign-in'])
        | Alerts in sign in page
    li.list-inline-item
      a.submenu-item.js-select-submenu.js-feature-flag(href='/templates/sign-in/sign-in-dark-theme', data-route= '/templates/sign-in/sign-in-dark-theme', data-feature-flag= docEnabled['/templates/sign-in/sign-in-dark-theme'])
        | Dark theme

  //- Links
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='links')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/links', data-feature-flag= docEnabled['/links'])
        | Links

  //- Tooltips
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='tooltips')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/tooltips', data-feature-flag= docEnabled['/tooltips'])
        | Tooltips
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/tooltips/smart-tooltips', data-feature-flag= docEnabled['/tooltips/smart-tooltips'])
        | Smart tooltips

  //- Typography
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='typography')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/typography', data-feature-flag= docEnabled['/typography'])
        | Typography
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/typography/text-highlight', data-feature-flag= docEnabled['/typography/text-highlight'])
        | Text Highlight

  //- Dashboard
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0.list-unstyled.list-inline.m-0(data-parent-menu='')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/', data-feature-flag= docEnabled['/'])
        | Home

  //- Success Story
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='success-stories')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/success-stories', data-feature-flag= docEnabled['/success-stories'])
        | Success stories

  //- Cards
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='cards')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/cards', data-feature-flag= docEnabled['/cards'])
        | Cards

  //- Dropdown
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='dropdown')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/dropdown', data-feature-flag= docEnabled['/dropdown'])
        | Dropdown

  //- Pagination
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='pagination')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/pagination', data-feature-flag= docEnabled['/pagination'])
        | Pagination

  //- coming-next
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='coming-next')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/coming-next', data-feature-flag= docEnabled['/coming-next'])
        | Coming next

  //- Tables
  ul.main-submenu.js-submenu-make-visible.list-unstyled.list-inline.m-0(data-parent-menu='tables')
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/tables', data-feature-flag= docEnabled['/tables'])
        | Tables
    li.list-inline-item
      a.submenu-item.js-select-current.js-feature-flag(href='/tables/dark', data-feature-flag= docEnabled['/tables/dark'])
        | Dark theme

  //- Responsive nav
  .dropdown.js-submenu-more
    a.dropdown-toggle(data-toggle='dropdown')
      i.eos-icons.eos-24.js-tooltip(data-toggle='tooltip', title='More', data-placement='bottom')
        | more_horiz
    ul.dropdown-menu.dropdown-menu-left.js-submenu-content
      li
        .dropdown-header
          span.subtitle
            | More
      li.js-submenu-more-list
//- Demo user-profile
  .user-profile.js-user-profile.dropdown
    .dropdown-toggle(data-toggle='dropdown')
      i.eos-icons.eos-24.js-tooltip(data-toggle='tooltip' data-placement='left' title='User profile')
        | account_circle
    ul.dropdown-menu.dropdown-menu-right
      li
        .dropdown-header
          h5.js-tooltip(data-truncate-characters=20)
            | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip
          span.subtitle.js-tooltip(data-truncate-px=160)
            | User-name-get-truncated-this-way-when-is-too-long-&Display-onToolTip@something.com
      .dropdown-divider
      li
        a.dropdown-item
          i.eos-icons.eos-18
            | edit
          | Edit profile
        a.dropdown-item
          i.eos-icons.eos-18
            | settings
          | Settings
        a.dropdown-item
          i.eos-icons.eos-18
            | subscriptions
          | My subscriptions
      .dropdown-divider
      li
        a.dropdown-item
          i.eos-icons.eos-18
            | exit_to_app
          | Logout
