extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Badges
        p.subheadline
          | Badges are used to highlight important changes of state in an element,
          | mark them, or draw attention to counters.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='badges-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Badge assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='badges-assets-dropdown')
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.anchor
        | Description
      ul.list-no-padding
        li
          | Use badges to highlight or differentiate key elements. However,
          | do it with caution. Drawing attention to many pieces may result
          | in creating much noise.
        li
          | Badges are good for counters, for example, to show the number of new messages.
        li
          | Badges should not provide interaction. However, its parent element may.
        li
          | Don't use long texts within a badge. Whenever possible, limit it to a
          | maximum of 3 words or less.

    section.margin-top-xl.global-alerts-demo
      .row.states-row.margin-top-xxl
        .col-md-3.states-column
          strong.states-column-title
            | Badge types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              .form-check
                input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='badge')
                label.form-check-label.js-element-label(for='default-state')
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code.language-markup
              code.language-html
