/* Dashboard writing dark-theme styles
   ========================================================================== */
.dark-theme {
  .writing-mosaic {
    background-image: $eos-da-w-writing-mosaic-bg-dark;
  }
}

