button.feedback-tool-button.js-feedback-tool-open.js-screenshoot.js-tooltip(data-toggle='tooltip', title='Open feedback tool', aria-label='Feedback tool trigger')
  i.eos-icons.eos-18
    | flag
  | Feedback

.feedback-tool.js-feedback-tool.card.js-draggable(role='dialog', aria-labelledby='feedback-modal', aria-modal='true', aria-label='Feedback tool')
  //- Form page
  #feedback-modal.js-feedback-tool-card-form(role='document')
    .feedback-tool-card-header
      span#feedback-modal.d-block.h6
        | Send feedback
      .feedback-tool-actions
        i.eos-icons.eos-24.js-draggable-trigger.js-tooltip(data-toggle='tooltip', title='Move')
          | move
        i.eos-icons.eos-24.js-feedback-tool-close.js-tooltip(data-toggle='tooltip', title='Close')
          | close
    .feedback-tool-card-content.js-feedback-tool-form
      .alert.alert-inline.alert-success.js-screenshot-name
        i.eos-icons.eos-18.alert-icon check_circle
        .alert-body
          a.close(data-dismiss='alert')
            i.eos-icons.eos-18 close
      span
        | Report an issue or share an idea
      .form-group
        textarea.form-control.text-area.js-feedback-tool-message(name='feedback-tool-message', placeholder='We’d love to hear from you.')
        .form-messages
          span.maxlength.js-message-length
            |
        .form-check
          input#attach-screenshot.form-check-input.eos-checkbox(type='checkbox')
          label.form-check-label.js-feedback-tool-screenshoot-trigger(for='attach-screenshot')
            | Include screenshot of current page
      .feedback-tool-steps
        button.js-feedback-tool-send.btn.btn-primary.disabled(type='submit')
          | Send
    //-Success page
  .js-feedback-tool-card-success.feedback-tool-success
    .feedback-tool-card-header
      h6
        | Send feedback
      .feedback-tool-actions
        i.eos-icons.eos-24.js-draggable-trigger
          | move
        i.eos-icons.eos-24.js-feedback-tool-close
          | close
    .card-content.feedback-tool-success
      p
        | Thank you for helping us improve EOS.
      img(src='/images/components/feedback-tool/bunny.svg', alt='EOS Bunny mascot image')
      button.js-feedback-tool-finish.btn.btn-primary
        | Finish
