extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Pagination
        p.subheadline
          | Pagination is used to divide content or data and present it in a manner
          | that is easy to process.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='pagination-assets-dropdown')
            | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Pagination assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='pagination-assets-dropdown')
            include ../shared/kit-dropdown/assets.pug
    hr
    section.margin-top-xl
      h2.anchor
        | Description
      ul.list-no-padding
        li
          | Give context to users: where they are, where they’ve been and where they can go next.
        li
          | Use the 'Go to' additional control to allow users to be able to access a specific page.
        li
          | Place pagination at the bottom right of a page or table, except for very long tables where
          | it should also be added at the top right.
    section.margin-top-xl
      .row.states-row.margin-top-xxl
        .col-md-3.states-column
          strong.states-column-title
            | Pagination types
          ul.states-list.no-list-style.js-showcase-list
            li.js-showcase-current
              .form-check
                input.form-check-input.eos-radio-btn.js-element-id(type='radio', name='pagination')
                label.form-check-label.js-element-label(for='default-state')
                  | Default
        .col-md-9.component-showcase-col
          strong.js-showcase-how-to
            | How to use this element
          p.js-how-to-use
          strong.d-block
            | Example
          .states-example-box
            .example-inner-box-full.js-example-inner-box
          strong.d-block
            | Code
          .css-snippet-container
            .scss-snippet-btns
              i.single-icon.eos-icons.eos-18.eos-light.js-copy-snippet
                | content_copy
            pre.js-snippet-code.language-markup
              code.language-html
