/* Loading component
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/loading/loading.variables.scss */

.full-page-loading {
  background-color: $eos-loading-background;
  height: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0;
  width: $eos-loading-width;
  z-index: $eos-loading-zindex;

  img {
    margin-top: $eos-loading-icon-margin;
  }
}
