block sign-in-header
  .sign-in-header
    img.logo-right(src='/images/sign-in-page/suse-logo-mobile.svg', alt='Suse logo dark')
    .dropdown.float-right
      button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='language-dropdown')
        | #[i.eos-icons.eos-18(aria-hidden='true') keyboard_arrow_down] Language
      ul.dropdown-menu.dropdown-menu-right(aria-labelledby='language-dropdown')
        li
          a.dropdown-item(href='#')
            | English
        li
          a.dropdown-item(href='#')
            | German
