extends ../layouts/layout-main

block content
  article.container
    section.row
      .col-md-9
        h1
          | Dark theme colors
        p.subheadline
          | The color palette in the dark theme uses dark background colors and light
          | foreground colors to ensure contrast to reduce eye strain and to save battery life.
      .col-md-3
        .dropdown.margin-top-m.float-right
          button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false', aria-haspopup='true', aria-labelledby='dark-colors-dropdown')
            i.eos-icons.eos-18(aria-hidden='true')
              | keyboard_arrow_down
            |
            | Colors assets
          ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dark-colors-dropdown')
            li
              a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos/blob/master/assets/stylesheets/eos-base/variables/branding.scss', data-event-category='Dropdown link', data-event-action='Colors stylesheets', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
                i.eos-icons.eos-18
                  | open_in_new
                | Colors stylesheet
            li
              a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/Resources/Colors%20Palette/Photoshop%20-Illustrator/eos-swatches.ase', data-event-category='Dropdown link', data-event-action='Adobe color palette', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
                i.eos-icons.eos-18
                  | file_download
                | Adobe color palettes
            li
              a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/Resources/Colors%20Palette/Inkscape%20-%20Gimp/eos-palette.gpl', data-event-category='Dropdown link', data-event-action='Inkscape color palette', data-event-label='Colors', target='_blank', rel='noreferrer nonopener')
                i.eos-icons.eos-18
                  | file_download
                | Inkscape color palettes
    hr

    .alert.alert-section.alert-info
      i.eos-icons.eos-18.alert-icon
        | info
      .alert-body
        .alert-title
          | Dark theme color palette
        | The dark theme uses all existing
        | #[a(href='/colors', data-event-category='Internal link', data-event-action='Color link', data-event-label='Colors/dark-theme-colors') colors]
        | from the palette and introduces two new gray shades for component backgrounds.

    section.margin-top-xxl
      .colors-wrap
        .color-wrap.bc-dark-theme-gray
          .color-title
            span.d-block.h4
              | Dark theme gray
            p
              code
                | $eos-bc-dt-gray-100
          p
            | Use for: dark theme background.
          .reduced-color-content
            .color.js-cc.color-100(data-clipboard-text='#2B2E38; // $eos-bc-dt-gray-100')
              strong
                | 100
              .hex
                | #2B2E38
            .color.js-cc.color-200(data-clipboard-text='#1F222 // $eos-bc-dt-gray-200')
              strong
                | 200
              .hex
                | #1F222
