extends ../layouts/layout-main

block content
  article.container
    h1
      | Usage of the color palettes
    p.subheadline
      | Whether designing new components and UI elements, or simply re-branding
      | an application, follow these simple rules to consistently use
      | and combine the color palettes for text, backgrounds, and links.
    hr

    h2.anchor
      | Text and titles on monochromatic backgrounds
    p
      | The text color must be white on black backgrounds.
      | On white backgrounds the text color must be the darkest shade of gray.

    section.usage-example
      .title
        span.d-block.h5
          | #141823
        p
          code
            | $eos-bc-gray-1000
      .wrap.white-gray
        p.wrap-content
          | Default text color on white
    section.usage-example
      .title
        span.d-block.h5
          | #FFFFFF
        p
          code
            | $eos-bc-white
      .wrap.dark-gray-white
        p.wrap-content
          | Default text color on dark gray

    h2.anchor.margin-top-xxl
      | Text and titles on colored backgrounds
    p
      | Always use white as text color on colored backgrounds.
      | If the #[a(href='#contrast', data-event-category='External link', data-event-action='Contrast ratio link', data-event-label='Colors/usage') contrast] between white text and the background fails, use dark gray as text color.

    section.usage-example
      .title
        span.d-block.h5
          | #FFFFFF
        p
          code
            | $eos-bc-white
      .wrap.white-violet
        p.wrap-content
          | Text on colored backgrounds
    section.usage-example
      .title
        span.d-block.h5
          | #141823
        p.wrap-content
          code
            | $eos-bc-gray-1000
      .wrap.black-cerulean
        p.wrap-content
          | Text on colored backgrounds
    hr

    h2.anchor
      | Color contrast
    p
      | When choosing colors, take into account the contrast ratio of the foreground to the
      | background color. The W3C created guidelines for exactly this purpose (WCAG 2.0).
      | These require that text uses adequate contrast for visually impaired people.
    p
      | The WCAG 2.0 Level AA (standard) requires a contrast ratio of at least 4.5:1 for
      | normal text (14px) and 3:1 for larger text (~18px). This level represents people
      | with 20/40 vision (typical visual acuity of elders at roughly age 80).
    h3
      | Exceptions to the WCAG
    p
      | While our software should be usable by people with slightly impaired vision,
      | we have made certain exceptions to express our brand properly while taking
      | into account the overall effect on the usability and accessibility of our products.
    p
      | An example of an exception is the selected item in the main menu, which uses the white color for text over
      | a green background. Although the accessibility contrast ratios indicate that this
      | choice isn't compliant with the WCAG, studies have shown that the button with the white text
      | is more readable and thus preferred by the user
      | (#[a(href='https://www.bounteous.com/insights/2019/03/22/orange-you-accessible-mini-case-study-color-ratio/', data-event-category='External link', data-event-action='Contrast ratio study link', data-event-label='Colors/usage', target='_blank', rel='noreferrer nonopener') source]).

    section.margin-top-xxl
      img(src='/images/colors/contrast.png', alt='Global alert position')

    h3.margin-top-xxl
      | How to check the contrast ratio
    p
      | The most common tool is #[a(href='http://contrast-ratio.com/#%23fff-on-%2330ba78', data-event-category='External link', data-event-action='Contrast ratio link', data-event-label='Colors/usage', target='_blank', rel='noreferrer nonopener') contrast-ratio.com]
      | where you can check the contrast ratio between two colors.
